/* ======= GLOBAL STYLES ======= */



/* ========= HEADER ========= */

.my-nav:hover {
    font-size: 1.1rem;
}

/* ========= FOOTER ========= */



/* ======= HOMEPAGE ====== */

.home-filters,
.home-map {
    height: -webkit-fill-available;
}

.home-filters {
    background-color: #729cfa0d;
}

iframe {
    width: 100%;
    height: -webkit-fill-available;
    object-fit: contain;
}
/* ======= ABOUT US ====== */
#about-us-title {
    margin-top: 4rem;
}